.App {
    font-family: sans-serif;
  }
  
  body{
    background-color: #EEEDE7;
  }
  .namedashboard {
    text-align: right;
    padding-top: 25px;
    padding-right: 20px;
  }
  ul{
    float: right;
    padding-top: 20px;
    padding-right: 2px;

  }
  ul li{
    
    float: left;  
    list-style-type: none;
    padding-left: 10px;
    
  }
  ul li a{
    color: #fff;
  }
  .header-left{
    padding-top: 20px;
    float: left;
    padding-left: 2px;
  }
  .header-dashboard{
    border-bottom: 1px solid rgb(241, 241, 241);
    box-shadow: 1px 2px 5px 5px rgba(241,241,241,0.5);
    margin-bottom: 30px;
    color: #fff;
    position: sticky;
    top: 0;
    /* left: 0; */
    right: 0;
    z-index:9999999;
    width: 100%;    
    /* overflow: hidden;  */
    background-color: darkkhaki;
  }
  
  form {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }
  .formDiv{
    /* border:1px solid; */
    margin-top: 100px;
  }
  
  label,
  input {
    display: block;
    width: 100%;
  }
  
  label {
    margin-bottom: 5px;
    height: 22px;
  }
  
  input {
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #777;
  }
  
  input.error {
    border-color: red;
  }
  
  .input-feedback {
    color: rgb(235, 54, 54);
    margin-top: -15px;
    font-size: 12px;
    /* margin-bottom: 20px; */
  }
  
  button {
    padding: 10px 15px;
    background-color: rgb(70, 153, 179);
    color: white;
    border: 1px solid rgb(70, 153, 179);
    transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
    width: 100%;
  }
  
  .card{
    /* border: 1px solid;
    height: 340px; */
    margin-bottom: 10px;
    margin-right: 10px;
  }
  /* button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(70, 153, 179);
  } */
  .card-body{
    display: flex;
    flex-direction: column;
    height: 200px;
    box-shadow : 1px 1px 5px 5px rgba(246,246,246,0.5)
    
  }
  .cardBtnDiv{
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    right: 12px;
  }
  .load-more{
    width: 130px;
    height: 39px;
    display: block;
    border: 0;
    margin: 1em auto;
    /* padding: .75em 1em; */
    font-size: 15px;
    /* background-color: #c34d41; */
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
  }
  